// Size of each hexagon
$hex-width: 250px;
$hex-between: 30px;

// Hexagon dimensions
$hex-height: calc(#{$hex-width} / 1.73);
$hex-margin: calc(#{$hex-width} / 2);
$hex-border: calc(#{$hex-margin} / 1.73);
$hex-transition: all 0.2s ease;

$color-hex-default: #000000;
// --color-hex-hover:   #FFFFFF;
// --color-angular:     #DD0031;
// --color-atom:        #66595C;
// --color-bootstrap:   #563D7C;
// --color-circleci:    #343434;
// --color-css:         #1572B6;
// --color-git:         #F14E32;
// --color-gulp:        #DA4648;
// --color-haskell:     #5D4F85;
// --color-html:        #E34F26;
// --color-javascript:  #F7DF1E;
// --color-meteor:      #DE4F4F;
// --color-python:      #3776AB;
// --color-rails:       #CC0000;
// --color-sass:        #CC6699;
// --color-vuejs:       #4FC08D;
// --color-webpack:     #8DD6F9;

.hexagon-container {
  display: grid;
  grid-template-columns: $hex-width $hex-width $hex-width $hex-width;
  grid-auto-rows: calc(#{$hex-width} - 32px);
  grid-gap: $hex-between $hex-between;
  padding-bottom: $hex-border;
  margin: 0 auto;
}

//FP, Lockr, forex, MTG, suave, interview, tinyapp, tweeter

.hexagon {
  background-image: url(https://csshexagon.com/img/meow.jpg);
  background-size: auto 288.6751px;
  background-position: center;
  position: relative;
  width: $hex-width;
  // cursor: pointer;
  transition: $hex-transition;
  height: $hex-height;
  margin: 72.17px 0;
}

// .hexTop,
// .hexBottom {
//   position: absolute;
//   z-index: 1;
//   width: $hex-width;
//   height: $hex-height;
//   overflow: hidden;
//   -webkit-transform: scaleY(0.5774) rotate(-45deg);
//   -ms-transform: scaleY(0.5774) rotate(-45deg);
//   transform: scaleY(0.5774) rotate(-45deg);
//   background: inherit;
//   left: 36.61px;
// }
// .hexTop:after,
// .hexBottom:after {
//   content: "";
//   position: absolute;
//   width: $hex-width;
//   height: $hex-height;
//   -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
//   -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
//   transform:          rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
//   -webkit-transform-origin: 0 0;
//   -ms-transform-origin: 0 0;
//   transform-origin: 0 0;
//   background: inherit;
// }

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 36.61px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: $hex-width;
  height: $hex-height;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}


.hexTop {
  top: -88.3883px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -88.3883px;
}

.hexBottom:after {
  background-position: center bottom;
}
// .hexagon:before,
// .hexagon:after {
//   content: "";
//   position: absolute;
//   width: 0;
//   left: 0;
//   transition: $hex-transition;
//   border-left: $hex-margin solid transparent;
//   border-right: $hex-margin solid transparent;
// }

// .hexagon:before {
//   bottom: 100%;
//   border-bottom: $hex-border solid #64c7cc;
// }

// .hexagon:after {
//   top: 0;
//   left: 0;
//   width: $hex-width;
//   height: $hex-height;
//   z-index: 2;
//   background: inherit;
//   border-top: $hex-border solid #64c7cc;
// }

.hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: $hex-width;
  height: $hex-height;
  z-index: 2;
  background: inherit;
}
.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
  margin-left: calc(#{$hex-width} / 2 + #{$hex-between} / 2);
}
