.hexagon {
  position: relative;
  width: 250px; 
  height: 144.34px;
  background-color: #64C7CC;
  margin: 72.17px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 72.17px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 72.17px solid #64C7CC;
}