.container-fluid {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 55%;
  background: rgb(33, 31, 54);
  // background: rgb(27, 23, 41);
  line-height: 30px;
  // font-weight: lighter;
  // padding: 50px;
  color: grey;
  display: flex;
  // clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);

  clip-path: polygon(50% 36%, 100% 20%, 100% 100%, 0 100%, 0 20%);
}

// .container-inner {
//   margin: 4em 2em;
//   display: flex;
//   background-color: rgba(255, 246, 230, 0.144);
//   width: 100%;
//   height: 100%;
  // border-radius: 2em;
  // box-shadow: 0 0 5px 2px rgb(33, 31, 54) inset;
  // -webkit-filter: blur(10px);
  // -moz-filter: blur(10px);
  // -o-filter: blur(10px);
  // -ms-filter: blur(10px);
  // filter: blur(10px);

.section--about {
  color: white;
  font-size: 3em;
  height: 100%;
  margin: 0 auto;
  width: 95%;
  background: rgb(48, 46, 77);
  // border: 2px solid white;
  p {
    margin-top: 8.5em;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
  }
}